body {
    font-family: arial;
    background-color: rgb(201, 167, 17);
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

h1, footer {
    color: white;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
}